i {

    color: white;
}

.page-title {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 12px 12px;
  font-family:  'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: white;
}
