<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DonorPortalConnection" providerName="System.Data.SqlClient" connectionString="Data Source=pbsqldev\etseng;Initial Catalog=Interviews;Integrated Security=False;MultipleActiveResultSets=True;user=sa;pwd=3T53N6" />
    <add name="DMSConnection" providerName="System.Data.SqlClient" connectionString="Data Source=PBSQLDEV02\DMSDEV;initial catalog=DMSDB;persist security info=True;user id=dmsdbadmin;password=vtug(l2hJ6Bc;multipleactiveresultsets=True" />
    <add name="MBTSConnection" connectionString="Data Source=PBSQLDEV01\COLLAB;Initial Catalog=MBTS2;user id=mbtsuser;password=qr24adsf;" providerName="System.Data.SqlClient" />
    <add name="RMAConnection" providerName="System.Data.SqlClient" connectionString="Data Source=pbsqldev\collab;Initial Catalog=RawMilk;uid=sa;pwd=prolacta99;" />
    <add name="ProlactaCentralConnection" connectionString="data source=pbsqldev01\collab;initial catalog=ProlactaCentral;persist security info=True;user id=ProlactaCentral;password=myCentral?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MDDBConnection" connectionString="Data Source=PBSQLDEV01\COLLAB;Initial Catalog=MDDB;Persist Security Info=True;User ID=sa;Password=Y&amp;T4bqeZKBr;" providerName="System.Data.SqlClient" />
    <add name="MusicTheoryConnection" connectionString="Data Source=PBSQLDEV01\COLLAB;Initial Catalog=MusicTheory;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.188" newVersion="1.1.0.188" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>