@{
    ViewBag.Title = "Home Page";
    ViewBag.Decription = "Welcome to the Prolacta Dashboard!";
}

@*@(Html.Kendo().DatePicker()
        .Name("datetimepicker")
        .Value(DateTime.Now)
        .HtmlAttributes(new { style = "width: 100%", title = "datetimepicker" })
        .DateInput()
      )*@
<input id="datetimepicker" title="datetimepicker" style="width: 100%;" />
<div><div id="receivingGrid"></div></div>

<script>
    $(document).ready(function () {
        // create DateTimePicker from input HTML element
        $("#datetimepicker").kendoDateTimePicker({
            value: new Date(),
            dateInput: true
        });
    });
    var receivingDs = new kendo.data.DataSource({
        transport: {
            type:"odata",
            read: "/API/ProlactaService/GetReceiving",
            schema:
            {
                model:
                {
                    fields:
                    {
                        TranId: { type: "number" },
                        DonorId: { type: "number" },
                        MilkBankId: { type: "number" },
                        Trknumber: { type: "string" },
                        ARecvDate: {type: "date"}
                        
                    }
                }
            }
             
        },
        pageSize: 20
    });

    $("#receivingGrid").kendoGrid({
        dataSource: receivingDs,
        pageable: true,
        sortable: true,
        columns: [
            {
                headerAttributes: { "class": "column-header" },
                title: "MR",
                field: "TranId",
                type: "number",
                filterable: {
                    extra: false,
                    multi: false,
                    operators: {
                        number: {
                            eq: "Equal to",
                            neq: "Not equal to"
                        }
                    }
                }
            },
            {
                field: "DonorId",
                title: "Donor ID",
                headerAttributes: { "class": "column-header" },
                filterable: true,
                template: "#=  checkNull(DonorId) #"
            }
            ,
            {
                field: "MilkBankId",
                title: "Milk Bank Id",
                headerAttributes: { "class": "column-header" },
                filterable: true,
                template: "#=  checkNull(MilkBankId) #"
            },
            {
                headerAttributes: { "class": "column-header" },
                field: "TrkNum",
                title: "Tracking Number",
                filterable: {
                    extra: false,
                    multi: false,
                    operators: {
                        number: {
                            eq: "Equal to",
                            neq: "Not equal to"
                        }
                    }
                }
            }
    ,
            {
                headerAttributes: { "class": "column-header" },
                title: "Received Date",
                field: "ARecvDate",
                filterable: true,
                template: '#= formatDate(ARecvDate) #'
            }
            //,
            //{
            //    command: [
            //        //{ text: "Edit", click: goEditPump },
            //        //{ text: "Fulfill", click: fulfillOrder },
            //        //{ text: "Verify", click: verifyOrder },
            //        //{ text: "Delete", click: deleteCoolerOrder }
            //    ],
            //    title: " ",
            //    width: "160px"
            //}
        ]
    });

    function checkNull(data) {
        return data || "N/A";
    }

    function formatDate(data) {
        return kendo.toString(kendo.parseDate(data), "yyyy-MM-dd hh:mm") || "N/A";
    }
</script>